.working-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .text-section1 {
    flex: 1;
    margin-right: 20px;
    background-color: #483D8B;
    color: white;
  }
  
  .image-section {
    flex: 1;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  